.hed{
    font-size:xx-large;
    text-align: center;
    margin: 5px, auto;
}

.form{
    width: 400px;
    height: 300px;
    display: flex;
    flex-flow: column;
    padding: 0.5em 1em;
    margin: 5px auto;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* input{
    margin: 5px auto;
    display: flex;
    color: darkgrey;
} */

button{
    margin: 5px auto;
    display: flex;
}
