.form {
    width: 40%;
    flex-flow: column;
    padding: 0.5em 1em;
    margin: 5px auto;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.lo-input {
    margin: 10px auto;
    display: flex;
}

#login-pass {
    -webkit-text-security:disc;
}

.warning {
    display: none;
    color: rgb(255 0, 0);
}